<div class="login-card-container">
    <mat-card>
      <mat-card-title>{{ 'App.Login' | translate:lang }}</mat-card-title>
        <mat-card-content>
            <div class="login-form">
                <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                    <mat-form-field>
                        <input matInput placeholder="Email" formControlName="email">                        
                        <mat-error align="start"  > 
                            <control-messages [control]="loginForm.controls.email" ></control-messages>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput placeholder="Password" formControlName="password" [type]="hide ? 'password' : 'text'">
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                        <mat-error align="start">
                            <control-messages [control]="loginForm.controls.password"></control-messages>
                        </mat-error>
                    </mat-form-field>
                    
                    <button [disabled]="!loginForm.valid " *ngIf="!loading" mat-raised-button color="primary">Login</button>
                    
                    <button [disabled]="loading" [routerLink]="['/register']" mat-button >Go To Register</button>
                    <mat-progress-bar *ngIf="loading" color="accent" mode="determinate" [value]="loader.progress$|async"></mat-progress-bar>

                </form>

            </div>
        </mat-card-content>
    </mat-card>
</div>