.register-card-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;

	mat-card {
		margin: 8px;
		width: 50%;

		mat-progress-bar {
		  position: absolute;
		  top: 0;
		  left: 0;
		  right: 0;
		}

		.register-form{

			form{			
                
                mat-form-field{
                   width:49%;
                   padding :10px 5px 10px 0;
                }
                
            }
            
            .submtButton{
                margin :10px 5px 10px 0;

            }

		}
		
	}
	
}