mat-progress-bar{
    position: fixed;
    z-index:999;
    top:0px;
    left:0px;
}

.app-drive{
    height:100%;
    .top-toolbar {
      position: relative;
    }

    .toolbar-icon {
      padding: 0 14px;
    }

    .route-container{
        flex:1;
    }

}