<div fxFlex class="main-container" (contextmenu)="openMenu($event, mainMenuTrigger,true)">
<span [matMenuTriggerFor]="mainMenu" id="mainmenu" #mainMenuTrigger="matMenuTrigger">
</span>
<mat-toolbar color="accent" class="foldercrumbs">
  <span  class="foldercrumbs-item">
    <span> > </span>
    <a [routerLink]="['/drive/folder']">
      / 
    </a>
  </span>
  <span *ngFor="let foldercrumb of foldercrumbs" class="foldercrumbs-item">
    <span> > </span>
    <a [routerLink]="['/drive/folder', foldercrumb.id]">
      {{ foldercrumb.name }}
    </a>
  </span>  
</mat-toolbar>

<div class="container" fxFlex fxLayout="row" >
  <div class="fileOrFolder" *ngFor="let element of folders">
    <div *ngIf="element.is_folder">
      <span [matMenuTriggerFor]="rootMenu" [matMenuTriggerData]="{element: element}" #menuTrigger="matMenuTrigger">
      </span>
      <mat-card class="drivespaceCard" (click)="navigate(element)" (contextmenu)="openMenu($event, menuTrigger)" >  
        <mat-card-content>
          <mat-icon color="primary" >
            folder
          </mat-icon>
        </mat-card-content>
        <mat-card-actions>
          <mat-divider></mat-divider>
          <span class="actionname" [matTooltip]="element.name">{{(element.name.length>10)? (element.name | slice:0:10)+'..':(element.name)}}</span>
        </mat-card-actions>
      </mat-card>        
    </div>
    <div *ngIf="!element.is_folder">
      <span [matMenuTriggerFor]="rootMenu" [matMenuTriggerData]="{element: element}" #menuTrigger="matMenuTrigger">
      </span>
      <mat-card class="drivespaceCard"  (contextmenu)="openMenu($event, menuTrigger)" >  
        <mat-card-content>
          <div *ngIf="element.file_type=='pdf'">
            
            <pdf-viewer [src]="element.url" [original-size]="false"  [show-all]="false" [render-text]="true" style="display: block;"></pdf-viewer>
          </div>
          <div *ngIf="element.file_type!='pdf'">
            <mat-icon color="primary">
              file_copy
            </mat-icon>
          </div>          
        </mat-card-content>
        <mat-card-actions>
          <mat-divider></mat-divider>
          <span class="actionname" [matTooltip]="element.name">{{(element.name.length>10)? (element.name | slice:0:10)+'..':(element.name)}}</span>
        </mat-card-actions>
      </mat-card>        
    </div>
  </div>
</div>
<mat-menu #mainMenu="matMenu" [overlapTrigger]="false">
  <ng-template matMenuContent let-element="element">    
    <button mat-menu-item (click)="openRenameDialog(element)">
      <mat-icon>create</mat-icon>
      <span>Create Folder</span>
    </button>
    <button mat-menu-item (click)="deleteElement(element)">
      <mat-icon></mat-icon>
      <span>Upload File</span>
    </button>
  </ng-template>
</mat-menu>
<mat-menu #rootMenu="matMenu" [overlapTrigger]="false">
  <ng-template matMenuContent let-element="element">
    <button mat-menu-item [matMenuTriggerFor]="moveToMenu" [matMenuTriggerData]="{self: element}">
      <mat-icon>open_with</mat-icon>
      <span>Move To</span>
    </button>
    <button mat-menu-item (click)="openRenameDialog(element)">
      <mat-icon>edit</mat-icon>
      <span>Rename</span>
    </button>
    <button mat-menu-item (click)="deleteElement(element)">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </ng-template>
</mat-menu>

<mat-menu #moveToMenu="matMenu">
  <ng-template matMenuContent let-self="self">
    <ng-container *ngFor="let element of folders">
      <button *ngIf="element.id !== self.id" mat-menu-item>{{element.name}}</button>
    </ng-container>
  </ng-template>
</mat-menu>
</div>