.file-or-folder {
  padding: 8px;
  overflow: hidden;
}
.main-container{
  height:100%;
}

.drivespaceCard{
  cursor: pointer;
  margin:15px;  
  display: inline-block;
  width:20%;
  height:10%;  
  .actionname{
    font-size:12px;
  }
}

.file-or-folder-icon {
  width: 50px;
  font-size: 50px;
}

.pointer {
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}

.toolbar-icon {
  padding: 0 14px;
}

.foldercrumbs{
  height: 20px;

  .foldercrumbs-item {
    padding:5px;
    font-size:15px;
    span{
      padding:5px;
    }
    a{
      text-decoration: none;
      color:#fff;
      padding:5px;
    }
  }
}
