table{
  width:100%;
  margin:5px;  
  .filename{
    font-size:14px;
    width:40%
  }
  .filesize {
    font-size: 10px;
    width: 20%
  }
  .fileprogress {
    
    mat-progress-bar {
      display: inline-flex;
      width: 80%;
      top: -8px;
    }
    a{
      mat-icon{
        font-size: 20px;
      }      
      cursor: pointer;
      margin-left:5px
    }
  }
}