<!-- <input type="file" #file style="display: none" (change)="onFilesAdded()" multiple /> -->
<div class="container" fxLayout="column" fxLayoutAlign="space-evenly stretch">
<mat-toolbar mat-dialog-title color="primary">
  <mat-toolbar-row>
    <span>File Uploading</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content fxFlex > 
  <table>
    <tr *ngFor="let file of files; let index = index" [@fadeInOut]="file.state">
      <td class="filename">{{file.data.name}}</td>
      <td class="filesize">{{file.uploaded | filesize}} / {{file.data.size | filesize}}</td>
      <td class="fileprogress"> 
        <mat-progress-bar mode="determinate" [value]="file.progress"></mat-progress-bar>
        <a title="Retry" (click)="retryFile(index)" *ngIf="file.canRetry">
          <mat-icon>refresh</mat-icon>
        </a>
        <a title="Cancel" (click)="cancelFile(file)" *ngIf="file.canCancel">
          <mat-icon>cancel</mat-icon>
        </a>
        <a title="Done" *ngIf="file.isuploaded">
          <mat-icon>check_circle</mat-icon>
        </a>
      </td>
    </tr>
  </table>  
</mat-dialog-content>
</div>