<!-- <input type="file" #file style="display: none" (change)="onFilesAdded()" multiple /> -->
<div class="container" fxLayout="column" fxLayoutAlign="space-evenly stretch" >
  <mat-toolbar mat-dialog-title color="primary">
    <mat-toolbar-row>
      <span>{{element.name}}</span>
      <span class="spacer"></span> 
      <button mat-icon-button (click)="download(element)">
        <mat-icon>cloud_download</mat-icon>
      </button>
      <button mat-icon-button mat-dialog-close>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-dialog-content fxFlex #fileviewr fxLayout="row" >
    <div class="file-options">      
      <div class="page-option" fxLayout="column" *ngIf="element.file_type=='pdf' || isLoaded">
        <div>
          <button mat-mini-fab (click)="incrementZoom(-0.1)" mat-button type="button">
            -
          </button>
        </div>
        <div>
          <input type="text" type="number" min="0.1" placeholder="Zoom" [(ngModel)]="zoom" pattern="-?[0-9]*(\.[0-9]+)?">
        </div>
        <div>
          <button mat-mini-fab (click)="incrementZoom(0.1)" mat-button type="button">
            +
          </button>
        </div>
      </div>
      <div class="page-option" fxLayout="column" *ngIf="element.file_type=='pdf' || isLoaded">
          <div>
            <button mat-mini-fab (click)="prevPage()" [disabled]="page === 1">Prev</button>
          </div>
          <div><input type="text" class="pdfinput" [(ngModel)]="page"> / {{ totalPages }}</div>
          <div>
            <button mat-mini-fab (click)="nextPage()" [disabled]="page === totalPages">Next</button>
          </div>
      </div>          
    </div>  
    
    <div class="card-file-content"> 
      
      <div *ngIf="element.file_type=='pdf'">         
        <ng-scrollbar class="lazy-scrollbar" thumbClass="custom-scrollbars-2" trackX="true">
        <pdf-viewer [src]="element.url"
                    [show-all]="false"
                    [page]="page"
                    [zoom]="zoom"
                    (after-load-complete)="afterLoadComplete($event)"
        ></pdf-viewer>
        </ng-scrollbar>
      </div>        
      <div *ngIf="element.file_type=='image'">
        <img  [src]="element.url" >
      </div>
      <div *ngIf="element.file_type=='docs' || element.file_type=='sheet' || element.file_type=='text'" > 
        <iframe [src]="'http://docs.google.com/viewer?url='+element.url+'&embedded=true'"  style="position: absolute;width:95%; height: 100%;border: none;"></iframe>
      </div>
      <div *ngIf="element.file_type=='video' || element.file_type=='audio'">
      <vg-player [ngStyle]="{'height': element.file_type=='audio' ? '50px' : 'auto'}">
        <vg-overlay-play *ngIf="element.file_type=='video'"></vg-overlay-play>
        <vg-buffering></vg-buffering>

        <vg-scrub-bar>
          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
          <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>

        <vg-controls>
          <vg-play-pause></vg-play-pause>          

          <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>

          <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
          <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
          <vg-mute></vg-mute>
          <vg-volume></vg-volume>

          <vg-fullscreen></vg-fullscreen>
        </vg-controls>

        <video *ngIf="element.file_type=='video'" [vgMedia]="media" #media id="singleVideo" preload="auto" crossorigin>
          <source [src]="element.url" [type]="element.type">        
        </video>
        <audio *ngIf="element.file_type=='audio'" #media [vgMedia]="media" id="myAudio" preload="auto">
        <source  [src]="element.url" [type]="element.type">
    </audio>
      </vg-player>       
      </div>
      <div *ngIf="element.file_type=='file'">
        <h2>Preview for this file is not possible! Please download it in your machine for preview!</h2>
      </div>      
    </div>
  </mat-dialog-content>
</div>